// Typography Overrides
h2,
.h2 {
  font-size: 27px !important;
  font-weight: 600 !important;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 36px !important;
    font-weight: 600 !important;
  }
}

@media (min-width: 992px) {
  h2,
  .h2 {
    font-size: 42px !important;
    font-weight: 600 !important;
  }
}

