// Video Components
.video {
  .btn-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
    background: transparent;
    
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 38px;
      height: 38px;
      background: #00000021;
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
    }
    
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 38px;
      height: 38px;
      background: #00000021;
      border-radius: 50%;
      transition: all 200ms;
    }
    
    img {
      position: relative;
      z-index: 3;
      max-width: 100%;
      width: auto;
      height: auto;
    }
    
    span {
      display: block;
      position: relative;
      z-index: 3;
      width: 0;
      height: 0;
      border-left: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-radius: 0 !important;
      text-align: center;
      margin: 0 auto;
    }
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (max-width: 768px) {
  .btn-play {
    width: 60px;
    height: 60px;
    
    span {
      border-left: 15px solid white;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
    }
  }
}

